<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Autor e Livros</title>

<link th:rel="stylesheet"
	th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
<link th:rel="stylesheet"
	th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{webjars/font-awesome/5.11.2/css/all.css} " />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/main.css}">

</head>

<body>

	<div class="container mt-5">

		<div id="title">
			<h1>Simulação Autor e Livros</h1>
		</div>

		<!-- UM -->
		<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 mx-auto">
						<p th:text="${message}" th:if="${message ne null}"
							class="alert alert-primary"></p>

						<form method="post" th:action="@{/monitor/submitLivrosByAutorId}"
							enctype="multipart/form-data" th:object="${testForm}">
							<div class="mb-3">
								<label class="form-label">Código do Autor:</label> <input
									class="form-control" type="text" th:field="*{autorCode}">
							</div>
							<div class="d-grid gap-2">
								<button type="submit" class="btn  btn-primary">Mostrar
									Livros do Autor pelo Código do Autor</button>
							</div>
						</form>

						<br /> <span th:if="${msg != null}" th:text="${msg}"></span>

					</div>
				</div>
			</div>
		</section>

		</b> </b>

		<div class="row">
			<table id="autorCodes" class="table table-striped">
				<thead>
					<tr>
						<th width="20%">Código Autor</th>
					</tr>
				</thead>
				<tbody id="autorCodeBody">
					<tr class="result" data-th-each="autorCode : ${autorCodes}">
						<td>[[${autorCode.code}]]</td>
					</tr>
				</tbody>
			</table>
		</div>

		</b> </b>

		<div class="row">
			<table id="autores" class="table table-striped">
				<thead>
					<tr>
						<th width="20%">Código Autor</th>
						<th width="30%">Nome</th>
					</tr>
				</thead>
				<tbody id="autorBody">
					<tr class="result" data-th-each="autor : ${autores}">
						<td>[[${autor.codigo}]]</td>
						<td>[[${autor.nome}]]</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="row">
			<table id="livros" class="table table-striped">
				<thead>
					<tr>
						<th width="20%">Titulo</th>
						<th width="30%">Descricao</th>
						<th width="30%">Categoria</th>
					</tr>
				</thead>
				<tbody id="livroBody">
					<tr class="result" data-th-each="livro : ${livros}">
						<td>[[${livro.titulo}]]</td>
						<td>[[${livro.descricao}]]</td>
						<td>[[${livro.categoria}]]</td>
					</tr>
				</tbody>
			</table>
		</div>


		<br /> <br /> <br />



	</div>

	<script data-th-src="@{/js/main.js}"></script>

	<script language="javascript">
		setTimeout(function() {
			window.location.reload(15);
		}, 10000);
	</script>


	<!-- Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">
		
	</script>




</body>

</html>